<h1 class="title">Welcome To ProjectCRM</h1>
<div class="outer-div">
<div class="login">
      <h3>{{messages}}</h3>
  <h2>Sign in</h2>

<form [formGroup]="loginform" (ngSubmit)="SubmitData()">
<div>
<mat-form-field appearance="outline">
<mat-label>User Name</mat-label>
<input matInput placeholder="User Name" formControlName="email" (blur)="inputBlur('email')">

<!-- <mat-error *ngIf="validate.email.errors && validate.email.errors.required">User Name Can't Be Blank</mat-error> -->
<mat-error *ngFor="let validation of account_validation_messages.email">
    <mat-error class="error-message" *ngIf="loginform.get('email').hasError(validation.type) && (loginform.get('email').dirty || loginform.get('email').touched)">{{validation.message}}</mat-error>
  </mat-error>
</mat-form-field>

</div>
<div>
<mat-form-field appearance="outline">
<mat-label>Password</mat-label>
<input matInput placeholder="password" type="password" formControlName="password" (blur)="inputBlur('password')">
<mat-error *ngIf="validate.password.errors && validate.password.errors.required">Password Can't Be Blank</mat-error>
</mat-form-field>
</div>
<div>
  <button mat-raised-button class="btn">Sign in</button>
</div>
</form>
<a routerLink = "../forgotpass" class="link">Forgot Password</a>
</div>
</div>