<div class="frm_hld">
<form>
    <mat-form-field>
        <input matInput placeholder="Name">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field><br>
    
    
     <!-- <mat-form-field>
            <mat-label>Select Role:</mat-label>
         <mat-select>
             <mat-option *ngFor="let r of role">
               {{r}}
             </mat-option>
         </mat-select>
    </mat-form-field><br> -->

    <mat-label>Select Role:</mat-label><br>
    <mat-checkbox>A</mat-checkbox><br>
    <mat-checkbox>B</mat-checkbox><br>
    <mat-checkbox>C</mat-checkbox><br>

    <mat-form-field>
        <input matInput placeholder="Phone">
    </mat-form-field><br>

    <mat-form-field>
        <textarea matInput placeholder="Notes"></textarea>
    </mat-form-field><br>
    
    
    <mat-form-field>
        <input matInput placeholder="Designation">
    </mat-form-field><br>
  
    <button  mat-raised-button>Sign Up</button>

</form>
</div>