


<form [formGroup]="addUserform">
    <mat-form-field>
        <input matInput placeholder="name" formControlName="username" >
        <!-- <mat-error *ngIf="onSignUpValidate.rolename.errors && onSignUpValidate.rolename.errors.required">Field cannot be blank</mat-error> -->
    </mat-form-field><br>
    
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email" >
      <!-- <mat-error *ngIf="onSignUpValidate.rolename.errors && onSignUpValidate.rolename.errors.required">Field cannot be blank</mat-error> -->
    </mat-form-field><br>

    <mat-form-field>
      <input matInput placeholder="phone" formControlName="phone" >
      <!-- <mat-error *ngIf="onSignUpValidate.rolename.errors && onSignUpValidate.rolename.errors.required">Field cannot be blank</mat-error> -->
    </mat-form-field><br>
 
    <mat-form-field>
      <textarea matInput placeholder="notes" formControlName="notes" ></textarea>
      <!-- <mat-error *ngIf="onSignUpValidate.rolename.errors && onSignUpValidate.rolename.errors.required">Field cannot be blank</mat-error> -->
    </mat-form-field><br>
 
   
    
      <mat-form-field >
        <input matInput placeholder="select a role" aria-label="role" [matAutocomplete]="auto" formControlName="roleselect">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of allRoles" [value]="option.rolename">
            <img aria-hidden>
            <span>{{option.rolename}}</span> 
 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="password" formControlName="password" type="password">
      <!-- <mat-error *ngIf="onSignUpValidate.rolename.errors && onSignUpValidate.rolename.errors.required">Field cannot be blank</mat-error> -->
    </mat-form-field><br>

      <button (click)="onSubmit()" mat-raised-button >SUBMIT</button>
    </form>

