<h1 class="title">Forgot Your Password ?</h1>
<h4 class="sub-title">Please enter the email address registered on your account</h4>
<div class="outer-div">
<div class="login">
<h2>Reset Password</h2>
<form [formGroup]="forgotform" (ngSubmit)="SubmitData()">
<div>
<mat-form-field appearance="outline">
<mat-label> User Email</mat-label>
<input matInput placeholder="User Email" formControlName="email" (blur)="inputBlur('email')">

<!-- <mat-error *ngIf="validate.email.errors && validate.email.errors.required">User Name Can't Be Blank</mat-error> -->
<mat-error *ngFor="let validation of account_validation_messages.email">
    <mat-error class="error-message" *ngIf="forgotform.get('email').hasError(validation.type) && (forgotform.get('email').dirty || forgotform.get('email').touched)">{{validation.message}}</mat-error>
  </mat-error>
</mat-form-field>
<h3>{{messages}}</h3>
</div>
<div>
  <button mat-raised-button class="btn">Reset Password</button>
</div>
</form>
</div>
</div>